@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

@layer components{
  .form-input{
    @apply h-12 py-1 mt-2 outline-none input input-bordered
    text-lg rounded-lg px-5 input-success
  }
  .add-btn{
    @apply btn w-full text-lg font-semibold tracking-wider 
    outline-1 h-12 rounded-lg btn-success
  }
  .list{
    @apply mx-0 pt-2 w-full
  }
  .list-item{
    @apply flex flex-row justify-start w-full divide-dashed 
    rounded-xl p-0 my-2 shadow-lg
    cursor-pointer
    bg-success
    bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20
    hover:bg-opacity-40
  }
  .item-label{
    @apply flex flex-row justify-start cursor-pointer 
    items-center h-auto w-full my-0 px-3 py-2
  }
  .item-text{
    @apply ml-3 text-lg
  }
  .delete-button{
    @apply btn btn-xs btn-accent ml-auto font-semibold
  }
  .theme-button{
    @apply fixed right-10 top-6 z-10
  }
  .theme-icon{
    @apply transition-all duration-200 ease-in
    text-base-content
    hover:text-success
  }
}

